
<div class="card">
<a [routerLink]="'/city/' + info.wikiDataId">
<p-card [header]="info.city" [subheader]="info.country" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="cityImage ? cityImage : '../../assets/imageNotFound.png'" [style]="{height: '360px'}">
    </ng-template>
    <p> 
        <i class="pi pi-user"></i> Population: {{ this.numberWithCommas(info.population) }}
        <br>
        <br> 
        <i class="pi pi-compass"></i>
        Longitude : {{ info.longitude.toFixed(4) }} 
        <br>
        <br> 
        <i class="pi pi-globe"></i>
        Latitude: {{ info.latitude.toFixed(4) }}
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Save" icon="pi pi-check"></p-button>
    </ng-template>
</p-card>
</a>
</div>

