img {
  width: 500px;
  height: 400px;
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.carousel-container {
  width: 600px;
  height: 500px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 30px 130px;
}
